<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%p|%t|%X{tid}|%X{cip}>%X{sip}|%c{1.}] - %m%n"/>
        </Console>
        <RollingFile name="rollingFile" fileName="/logs/jpos/q2.log" filePattern="/logs/jpos/%d{yyyy-MM-dd}/q2-%d{yyyy-MM-dd-HH}-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%p|%t|%X{tid}|%X{cip}>%X{sip}|%c{1.}] - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
        <!--<Socket name="socket" host="192.168.1.236" port="33333" protocol="UDP">-->
            <!--<PatternLayout pattern="q2 %d{yyyy-MM-dd HH:mm:ss.SSS} [%p|%t|%X{tid}|%X{cip}>%X{sip}|%c{1.}] - %m%n"/>-->
        <!--</Socket>-->
    </Appenders>

    <Loggers>
        <Root level="info">
            <!--<AppenderRef ref="console"/>-->
            <AppenderRef ref="rollingFile"/>
            <!--<AppenderRef ref="socket"/>-->
        </Root>
    </Loggers>
</Configuration>